.navigation-top {
  background-color: #db4c3f;
  height: 44px;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-top-left {
  display: flex;
  align-items: center;
  background-color: blue;
  height: 100%;
  margin-left: 42px;
  justify-content: flex-start;
}
.navigation-top-right {
  display: flex;
  align-items: center;
  background-color: green;
  height: 100%;
  margin-right: 42px;
  justify-content: flex-start;
}
